USE [master]
GO
/****** Object:  Database [Daleel2DB]    Script Date: 3/4/2026 12:36:05 AM ******/
CREATE DATABASE [Daleel2DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Daleel2DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Daleel2DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Daleel2DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Daleel2DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Daleel2DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Daleel2DB]
GO
/****** Object:  Table [dbo].[ابتدائى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ابتدائى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ابتدائى_ازهرى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ابتدائى_ازهرى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد  المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[عدد المدرسين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  /اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[اجمالى_تعليم_ازهرى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[اجمالى_تعليم_ازهرى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[ريف /حضر] [nvarchar](255) NULL,
	[عدد المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[عدد المدرسين  / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين  / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[اعدادى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[اعدادى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[اعدادى__ازهرى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[اعدادى__ازهرى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[المركز_المدينه_الحي]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[المركز_المدينه_الحي](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_المركز_المدينه_الحي] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[تعليم_عام_1]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[تعليم_عام_1](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[ريف /حضر] [nvarchar](255) NULL,
	[عدد المدارس( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد التلاميذ الذكور( تلميذ )] [nvarchar](255) NULL,
	[عدد التلاميذ الاناث( تلميذه)] [nvarchar](255) NULL,
	[مجموع التلاميذ] [nvarchar](255) NULL,
	[عدد المدرسين الذكور( مدرس )] [nvarchar](255) NULL,
	[عدد المدرسين الاناث( مدرسة )] [nvarchar](255) NULL,
	[عدد المدرسين] [nvarchar](255) NULL,
	[عدد المدارس المزودة بحاسب آلى ( مدرسة )] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ثانوى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ثانوى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ثانوى__ازهرى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ثانوى__ازهرى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ثانوى_تجارى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ثانوى_تجارى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ثانوى_زراعى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ثانوى_زراعى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول  ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين  / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين  / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ثانوى_صناعى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ثانوى_صناعى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين  / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[رياض_اطفال_ازهرى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[رياض_اطفال_ازهرى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[فصل_واحد]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[فصل_واحد](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين  / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين  / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ماقبل_ابتدائى]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ماقبل_ابتدائى](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[محو_الامية]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[محو_الامية](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[عدد المستهدف من الاميين ( أمى ) / ذكور] [nvarchar](255) NULL,
	[عدد المستهدف من الاميين ( أمى ) / اناث] [nvarchar](255) NULL,
	[اجمالي عدد المستهدفين من الاميين] [nvarchar](255) NULL,
	[عدد  المقيدين بفصول محو الامية ( أمى ) / ذكور] [nvarchar](255) NULL,
	[عدد  المقيدين بفصول محو الامية ( أمى ) / ناث] [nvarchar](255) NULL,
	[اجمال عدد  المقيدين بفصول محو الامية ( أمى )] [nvarchar](255) NULL,
	[عدد  الحاضرين   ( أمى ) / ذكور] [nvarchar](255) NULL,
	[عدد  الحاضرين   ( أمى ) / اناث] [nvarchar](255) NULL,
	[اجمالي عدد  الحاضرين   ( أمى )] [nvarchar](255) NULL,
	[عدد الناجحين / ذكور] [nvarchar](255) NULL,
	[عدد الناجحين / اناث] [nvarchar](255) NULL,
	[اجمالي عدد الناجحين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[مدارس_التربية_الخاصة]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[مدارس_التربية_الخاصة](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد  المعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[مجموع الطلبة] [nvarchar](255) NULL,
	[عدد المدرسين / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين  / اناث] [nvarchar](255) NULL,
	[مجموع المدرسين] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[مدارس_صديقة_الفتيات]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[مدارس_صديقة_الفتيات](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد المدارس ( مدرسة )] [nvarchar](255) NULL,
	[عدد الفصول ( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين  / اناث] [nvarchar](255) NULL,
	[عدد المدرسين  / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[مدارس_نوعية]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[مدارس_نوعية](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عدد مدارس المتفوقين ( مدرسة )] [nvarchar](255) NULL,
	[عدد المدارس اليابانية (مدرسة)] [nvarchar](255) NULL,
	[عدد مدارس المجتمع ( مدرسة )] [nvarchar](255) NULL,
	[عدد المدارس التعاونية( مدرسة )] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[معاهد_قراءات_ازهرية]    Script Date: 3/4/2026 12:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[معاهد_قراءات_ازهرية](
	[المركز /المدن/الاحياء] [nvarchar](255) NULL,
	[مستوى البيان] [nvarchar](255) NULL,
	[عددالمعاهد( معهد )] [nvarchar](255) NULL,
	[عدد الفصول( فصل )] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / ذكور] [nvarchar](255) NULL,
	[عدد الطلبة المقيدين / اناث] [nvarchar](255) NULL,
	[عدد المدرسين(مدرس ) / ذكور] [nvarchar](255) NULL,
	[عدد المدرسين(مدرس ) / اناث] [nvarchar](255) NULL,
	[LocationID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'29', N'620', N'13035', N'12520', N'25555', N'255', N'958', N'1213', 1)
INSERT [dbo].[ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'70', N'1164', N'23659', N'23148', N'46807', N'446', N'1123', N'1569', 1)
INSERT [dbo].[ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'99', N'1784', N'36694', N'35668', N'72362', N'701', N'2081', N'2782', 1)
GO
INSERT [dbo].[ابتدائى_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد الطلبة المقيدين  /اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'6', N'53', N'1174', N'988', N'40', N'67', 1)
INSERT [dbo].[ابتدائى_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد الطلبة المقيدين  /اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'35', N'269', N'5102', N'4257', N'301', N'197', 1)
INSERT [dbo].[ابتدائى_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد الطلبة المقيدين  /اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'3', N'25', N'682', N'555', N'11', N'49', 2)
GO
INSERT [dbo].[اجمالى_تعليم_ازهرى] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'20', N'129', N'3056', N'2729', N'128', N'188', 1)
INSERT [dbo].[اجمالى_تعليم_ازهرى] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'100', N'517', N'8712', N'7171', N'620', N'424', 1)
INSERT [dbo].[اجمالى_تعليم_ازهرى] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'8', N'70', N'2006', N'1562', N'69', N'112', 2)
GO
INSERT [dbo].[اعدادى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'21', N'323', N'6571', N'6568', N'13139', N'211', N'493', N'704', 1)
INSERT [dbo].[اعدادى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'56', N'597', N'11977', N'11644', N'23621', N'525', N'670', N'1195', 1)
INSERT [dbo].[اعدادى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'77', N'920', N'18548', N'18212', N'36760', N'736', N'1163', N'1899', 1)
GO
INSERT [dbo].[اعدادى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'4', N'24', N'573', N'476.0', N'18', N'61', 1)
INSERT [dbo].[اعدادى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'33', N'109', N'1777', N'1433.0', N'130', N'132', 1)
INSERT [dbo].[اعدادى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'2', N'18', N'491', N'435.0', N'15', N'24', 2)
GO
SET IDENTITY_INSERT [dbo].[المركز_المدينه_الحي] ON 

INSERT [dbo].[المركز_المدينه_الحي] ([المركز /المدن/الاحياء], [LocationID]) VALUES (N'كفر الشيخ', 1)
INSERT [dbo].[المركز_المدينه_الحي] ([المركز /المدن/الاحياء], [LocationID]) VALUES (N'دسوق', 2)
INSERT [dbo].[المركز_المدينه_الحي] ([المركز /المدن/الاحياء], [LocationID]) VALUES (N'قلين', 3)
SET IDENTITY_INSERT [dbo].[المركز_المدينه_الحي] OFF
GO
INSERT [dbo].[تعليم_عام_1] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المدارس( مدرسة )], [عدد الفصول( فصل )], [عدد التلاميذ الذكور( تلميذ )], [عدد التلاميذ الاناث( تلميذه)], [مجموع التلاميذ], [عدد المدرسين الذكور( مدرس )], [عدد المدرسين الاناث( مدرسة )], [عدد المدرسين], [عدد المدارس المزودة بحاسب آلى ( مدرسة )], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'89', N'1397', N'27671', N'27588', N'55259', N'711', N'1949', N'2660', N'89', 1)
INSERT [dbo].[تعليم_عام_1] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المدارس( مدرسة )], [عدد الفصول( فصل )], [عدد التلاميذ الذكور( تلميذ )], [عدد التلاميذ الاناث( تلميذه)], [مجموع التلاميذ], [عدد المدرسين الذكور( مدرس )], [عدد المدرسين الاناث( مدرسة )], [عدد المدرسين], [عدد المدارس المزودة بحاسب آلى ( مدرسة )], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'191', N'2036', N'39982', N'40323', N'80305', N'1137', N'2156', N'3293', N'180', 1)
INSERT [dbo].[تعليم_عام_1] ([المركز /المدن/الاحياء], [ريف /حضر], [عدد المدارس( مدرسة )], [عدد الفصول( فصل )], [عدد التلاميذ الذكور( تلميذ )], [عدد التلاميذ الاناث( تلميذه)], [مجموع التلاميذ], [عدد المدرسين الذكور( مدرس )], [عدد المدرسين الاناث( مدرسة )], [عدد المدرسين], [عدد المدارس المزودة بحاسب آلى ( مدرسة )], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'280', N'3433', N'67653', N'67911', N'135564', N'1848', N'4105', N'5953', N'269', 1)
GO
INSERT [dbo].[ثانوى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'13', N'340', N'6129', N'6742', N'12871', N'245', N'310', N'555', 1)
INSERT [dbo].[ثانوى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'14', N'182', N'3084', N'4133', N'7217', N'166', N'165', N'331', 1)
INSERT [dbo].[ثانوى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'27', N'522', N'9213', N'10875', N'20088', N'411', N'475', N'886', 1)
GO
INSERT [dbo].[ثانوى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'4.0', N'26.0', N'640.0', N'493.0', N'54.0', N'54.0', 1)
INSERT [dbo].[ثانوى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'19.0', N'116.0', N'1518.0', N'1200.0', N'189.0', N'91.0', 1)
INSERT [dbo].[ثانوى__ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'2.0', N'25.0', N'773.0', N'532.0', N'43.0', N'39.0', 2)
GO
INSERT [dbo].[ثانوى_تجارى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'5', N'53', N'1018', N'980', N'1998', N'41', N'117', N'158', 1)
INSERT [dbo].[ثانوى_تجارى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[ثانوى_تجارى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'5', N'53', N'1018', N'980', N'1998', N'41', N'117', N'158', 1)
GO
INSERT [dbo].[ثانوى_زراعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس( مدرسة )], [عدد الفصول  ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'4', N'75', N'1075', N'1533', N'2608', N'69', N'91', N'160', 1)
INSERT [dbo].[ثانوى_زراعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس( مدرسة )], [عدد الفصول  ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[ثانوى_زراعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس( مدرسة )], [عدد الفصول  ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'4', N'75', N'1075', N'1533', N'2608', N'69', N'91', N'160', 1)
GO
INSERT [dbo].[ثانوى_صناعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد المدرسين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'17', N'285', N'7156', N'2607', N'9763', N'314', N'349', N'663', 1)
INSERT [dbo].[ثانوى_صناعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد المدرسين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'1', N'11', N'232', N'131', N'363', N'6', N'9', N'15', 1)
INSERT [dbo].[ثانوى_صناعى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد المدرسين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'18', N'296', N'7388', N'2738', N'10126', N'320', N'358', N'678', 1)
GO
INSERT [dbo].[رياض_اطفال_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'4', N'10', N'268.0', N'237', N'0', N'6', 1)
INSERT [dbo].[رياض_اطفال_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'13', N'23', N'315.0', N'281', N'0', N'4', 1)
INSERT [dbo].[رياض_اطفال_ازهرى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'1', N'2', N'60.0', N'40', N'0', N'0', 2)
GO
INSERT [dbo].[فصل_واحد] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[فصل_واحد] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'9', N'9', N'98', N'202', N'300', N'0', N'34', N'34', 1)
INSERT [dbo].[فصل_واحد] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين  / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'9', N'9', N'98', N'202', N'300', N'0', N'34', N'34', 1)
GO
INSERT [dbo].[ماقبل_ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'26', N'114', N'1936', N'1758', N'3694', N'0', N'188', N'188', 1)
INSERT [dbo].[ماقبل_ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'42', N'84', N'1164', N'1196', N'2360', N'0', N'164', N'164', 1)
INSERT [dbo].[ماقبل_ابتدائى] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'68', N'198', N'3100', N'2954', N'6054', N'0', N'352', N'352', 1)
GO
INSERT [dbo].[مدارس_التربية_الخاصة] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'9', N'43', N'239', N'153', N'392', N'32', N'101', N'133', 1)
INSERT [dbo].[مدارس_التربية_الخاصة] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[مدارس_التربية_الخاصة] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد  المعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين / اناث], [مجموع الطلبة], [عدد المدرسين / ذكور], [عدد المدرسين  / اناث], [مجموع المدرسين], [LocationID]) VALUES (N'كفر الشيخ', N'مجموع', N'9', N'43', N'239', N'153', N'392', N'32', N'101', N'133', 1)
GO
INSERT [dbo].[مدارس_صديقة_الفتيات] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[مدارس_صديقة_الفتيات] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[مدارس_صديقة_الفتيات] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد المدارس ( مدرسة )], [عدد الفصول ( فصل )], [عدد الطلبة المقيدين  / ذكور], [عدد الطلبة المقيدين  / اناث], [عدد المدرسين  / ذكور], [عدد المدرسين / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'0', N'0', N'0', N'0', N'0', N'0', 2)
GO
INSERT [dbo].[مدارس_نوعية] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد مدارس المتفوقين ( مدرسة )], [عدد المدارس اليابانية (مدرسة)], [عدد مدارس المجتمع ( مدرسة )], [عدد المدارس التعاونية( مدرسة )], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'1', N'0', N'0', N'0', 1)
INSERT [dbo].[مدارس_نوعية] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد مدارس المتفوقين ( مدرسة )], [عدد المدارس اليابانية (مدرسة)], [عدد مدارس المجتمع ( مدرسة )], [عدد المدارس التعاونية( مدرسة )], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'9', N'0', 1)
INSERT [dbo].[مدارس_نوعية] ([المركز /المدن/الاحياء], [مستوى البيان], [عدد مدارس المتفوقين ( مدرسة )], [عدد المدارس اليابانية (مدرسة)], [عدد مدارس المجتمع ( مدرسة )], [عدد المدارس التعاونية( مدرسة )], [LocationID]) VALUES (N'الرياض', N'حضر', N'0', N'0', N'1', N'0', 8)
GO
INSERT [dbo].[معاهد_قراءات_ازهرية] ([المركز /المدن/الاحياء], [مستوى البيان], [عددالمعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين(مدرس ) / ذكور], [عدد المدرسين(مدرس ) / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'حضر', N'2', N'16', N'401', N'535', N'16', N'0', 1)
INSERT [dbo].[معاهد_قراءات_ازهرية] ([المركز /المدن/الاحياء], [مستوى البيان], [عددالمعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين(مدرس ) / ذكور], [عدد المدرسين(مدرس ) / اناث], [LocationID]) VALUES (N'كفر الشيخ', N'ريف', N'0', N'0', N'0', N'0', N'0', N'0', 1)
INSERT [dbo].[معاهد_قراءات_ازهرية] ([المركز /المدن/الاحياء], [مستوى البيان], [عددالمعاهد( معهد )], [عدد الفصول( فصل )], [عدد الطلبة المقيدين / ذكور], [عدد الطلبة المقيدين / اناث], [عدد المدرسين(مدرس ) / ذكور], [عدد المدرسين(مدرس ) / اناث], [LocationID]) VALUES (N'دسوق', N'حضر', N'0', N'0', N'0', N'0', N'0', N'0', 2)
GO
ALTER TABLE [dbo].[ابتدائى]  WITH CHECK ADD  CONSTRAINT [FK_ابتدائى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ابتدائى] CHECK CONSTRAINT [FK_ابتدائى_Location]
GO
ALTER TABLE [dbo].[ابتدائى_ازهرى]  WITH CHECK ADD  CONSTRAINT [FK_ابتدائى_ازهرى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ابتدائى_ازهرى] CHECK CONSTRAINT [FK_ابتدائى_ازهرى_Location]
GO
ALTER TABLE [dbo].[اجمالى_تعليم_ازهرى]  WITH CHECK ADD  CONSTRAINT [FK_اجمالى_تعليم_ازهرى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[اجمالى_تعليم_ازهرى] CHECK CONSTRAINT [FK_اجمالى_تعليم_ازهرى_Location]
GO
ALTER TABLE [dbo].[اعدادى]  WITH CHECK ADD  CONSTRAINT [FK_اعدادى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[اعدادى] CHECK CONSTRAINT [FK_اعدادى_Location]
GO
ALTER TABLE [dbo].[اعدادى__ازهرى]  WITH CHECK ADD  CONSTRAINT [FK_اعدادى_ازهرى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[اعدادى__ازهرى] CHECK CONSTRAINT [FK_اعدادى_ازهرى_Location]
GO
ALTER TABLE [dbo].[تعليم_عام_1]  WITH CHECK ADD  CONSTRAINT [FK_تعليم_عام_1_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[تعليم_عام_1] CHECK CONSTRAINT [FK_تعليم_عام_1_Location]
GO
ALTER TABLE [dbo].[ثانوى]  WITH CHECK ADD  CONSTRAINT [FK_ثانوى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ثانوى] CHECK CONSTRAINT [FK_ثانوى_Location]
GO
ALTER TABLE [dbo].[ثانوى__ازهرى]  WITH CHECK ADD  CONSTRAINT [FK_ثانوى_ازهرى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ثانوى__ازهرى] CHECK CONSTRAINT [FK_ثانوى_ازهرى_Location]
GO
ALTER TABLE [dbo].[ثانوى_تجارى]  WITH CHECK ADD  CONSTRAINT [FK_ثانوى_تجارى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ثانوى_تجارى] CHECK CONSTRAINT [FK_ثانوى_تجارى_Location]
GO
ALTER TABLE [dbo].[ثانوى_زراعى]  WITH CHECK ADD  CONSTRAINT [FK_ثانوى_زراعى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ثانوى_زراعى] CHECK CONSTRAINT [FK_ثانوى_زراعى_Location]
GO
ALTER TABLE [dbo].[ثانوى_صناعى]  WITH CHECK ADD  CONSTRAINT [FK_ثانوى_صناعى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ثانوى_صناعى] CHECK CONSTRAINT [FK_ثانوى_صناعى_Location]
GO
ALTER TABLE [dbo].[رياض_اطفال_ازهرى]  WITH CHECK ADD  CONSTRAINT [FK_رياض_اطفال_ازهرى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[رياض_اطفال_ازهرى] CHECK CONSTRAINT [FK_رياض_اطفال_ازهرى_Location]
GO
ALTER TABLE [dbo].[فصل_واحد]  WITH CHECK ADD  CONSTRAINT [FK_فصل_واحد_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[فصل_واحد] CHECK CONSTRAINT [FK_فصل_واحد_Location]
GO
ALTER TABLE [dbo].[ماقبل_ابتدائى]  WITH CHECK ADD  CONSTRAINT [FK_ماقبل_ابتدائى_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[ماقبل_ابتدائى] CHECK CONSTRAINT [FK_ماقبل_ابتدائى_Location]
GO
ALTER TABLE [dbo].[محو_الامية]  WITH CHECK ADD  CONSTRAINT [FK_محو_الامية_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[محو_الامية] CHECK CONSTRAINT [FK_محو_الامية_Location]
GO
ALTER TABLE [dbo].[مدارس_التربية_الخاصة]  WITH CHECK ADD  CONSTRAINT [FK_مدارس_التربية_الخاصة_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[مدارس_التربية_الخاصة] CHECK CONSTRAINT [FK_مدارس_التربية_الخاصة_Location]
GO
ALTER TABLE [dbo].[مدارس_صديقة_الفتيات]  WITH CHECK ADD  CONSTRAINT [FK_مدارس_صديقة_الفتيات_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[مدارس_صديقة_الفتيات] CHECK CONSTRAINT [FK_مدارس_صديقة_الفتيات_Location]
GO
ALTER TABLE [dbo].[مدارس_نوعية]  WITH CHECK ADD  CONSTRAINT [FK_مدارس_نوعية_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[مدارس_نوعية] CHECK CONSTRAINT [FK_مدارس_نوعية_Location]
GO
ALTER TABLE [dbo].[معاهد_قراءات_ازهرية]  WITH CHECK ADD  CONSTRAINT [FK_معاهد_قراءات_ازهرية_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[المركز_المدينه_الحي] ([LocationID])
GO
ALTER TABLE [dbo].[معاهد_قراءات_ازهرية] CHECK CONSTRAINT [FK_معاهد_قراءات_ازهرية_Location]
GO
USE [master]
GO
